services:
  database:
    container_name: postgres
    image: postgres:13
    restart: always
    hostname: database
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    network_mode: host
  
  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    hostname: backend
    depends_on:
      - database
    volumes:
      - ./backend:/app
    network_mode: host
    
  frontend:
    container_name: frontend
    image: node:latest
    working_dir: /frontend
    command: npm start
    restart: always
    depends_on:
      - database
      - backend
    volumes:
      - ./frontend:/frontend
    network_mode: host


volumes:
  postgres_data:
  